*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* form {
  .emailclass{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
} */
/* input[type=submit] {
  border: none;
  border-bottom: 2px solid red;
} */
