{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
  <link rel="stylesheet" href=" {% static 'homestyle.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="banner">
        <div class="app-text">
            <h1>CAMPING LES FLOTS</h1>
            <p> Camping Les Flots vous propose des séjour et camping<br>
            de haut game situé dans la plus belle zone de la région<br>
            varoise. Reservez votre séjour avec nous et profitez</p>
            <div class="play-btn">

                <div class="play-btn-inner">
                  <!-- <a class = "ref" href = "http://127.0.0.1:8000/services/"> -->
                    <i class="fa fa-play" ></i>
                  <!-- </a> -->
                </div>
                <small><a  href = "http://127.0.0.1:8000/services/"><b>EN SAVOIR PLUS</b></a></small>
            </div>
        </div>
        <div class="app-picture">
            <img src="Artboard.png">
        </div>
    </div>

    <div class="social-icons">
        <ul>
            <li><a href="#"><i class ="fa fa-facebook"></i></a> </li>
            <li><a href="#"><i class ="fa fa-twitter"></i></a> </li>
            <li><a href="#"><i class ="fa fa-instagram"></i></a> </li>
            <li><a href="#"><i class ="fa fa-linkedin"></i></a> </li>
        </ul>
    </div>
    {% if profil %}
        <form action = "" method="POST"> {% csrf_token %}
        <input class="cta"  type="submit" value="Se déconnecter" />
        </form>
    {% endif %}
</body>
{% endblock %}
