{% extends 'base.html' %}
{% block content%}

  {% if form1 %}
  <form action = "" method="POST"> {% csrf_token %}
    {{ form1.as_p }}
    <input class="cta"  type="submit" value = "Valider" />
  </form>
  {% endif %}

  {% if form2 %}
    <form action = "" method="POST"> {% csrf_token %}
      {{ form2.as_p }}
      <input class="cta"  type="submit" value = "Valider" />
    </form>
  {% endif %}


  {% if form3 %}
    <form action = "" method="POST"> {% csrf_token %}
      <h1> Accompagnant  {{ i }}</h1>
      {{ form3.as_p }}
      <input class="cta"  type="submit" value = "Valider" />
    </form>
  {% endif %}

  {% if form4 %}
    <form action = "" method="POST"> {% csrf_token %}
          <h1> Accompagnant  {{ i }}</h1>
        {{ form4.as_p }}

      <input class="cta"  type="submit" value = "Valider" />
    </form>
  {% endif %}

  {% if reglement %}
      <h1> Le montant à régler s'élève à : {{ reglement }} euros </h1>
      <form action = "" method="POST"> {% csrf_token %}
        <h1>Un acompte de {{ acompte }} euros est obligatoire <br>
            pour valider votre réservation</h1>
            {{ form5.as_p }}
        <input class="cta"  type="submit" value = "Payer" />
        <a class="cta" href="http://127.0.0.1:8000"> Annuler </a>
      </form>
  {% endif %}
  <!-- {{ form.as_p}}
  {% if nb_personnes != None %}
    <form action = "" method="POST"> {% csrf_token %}
    {% for i in nb_personnes %}
        {{ accompagnantform.as_p }}
    {% endfor %}
    <input class="cta"  type="submit" value = "Valider" />
    </form>
  {% endif %} -->
{% endblock content %}
