{% extends 'base.html' %}
      {% block content %}
        <head> *Laverie: </head>
        <br>
        <br>
        <p>
        Ce service est ouvert tous les jours de 8h à 20h.
        <br>
        Une salle contenant 20 machines à laver est mise à disposition aux clients y adhérant.
        <br>
        <br>
        Prix du service : 15 euros.
        </p>
        <br>
        <br>
        <br>
        <head> *Demi pension: </head>
        <br>
        <br>
        <p>
        Ce service est mis à disposition tous les jours aux  plages horaires suivants:
        <br>
        <br>
        - 11h30 / 14h30
        <br>
        - 18h30 / 21h30
        <br>
        <br>
        Vous pourrez choisir parmis une variété de 4 plats quotidiens (dont 1 plat végétarien/végan).
        <br>
        tout en bénéficiant d'une entrée et d'un déssert au choix.
        <br>
        <br>
        Prix du service : 7 euros/jour. 
        </p>
        <br>
        <br>
        <br>
        <head> *Parc aquatique: </head>
        <br>
        <br>
        <p>
        Ce service est ouvert tous les Lundi, Mercredi, Vendredi et Dimanche, de 10h à 19h.
        <br>
        Divers jeux aquatiques sont mis à disposition : toboggans, piscine à vagues, ...
        <br>
        <br>
        Prix du service : 30 euros.
        </p>
        <p>
        <br>
        <br>
        <br>
         NB : Pour adhérer à l'un de ses services, vous devrez le cocher dans la section indiquée lors de la réservation de votre séjour. 
        </p>
      {% endblock %}
  

